@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@


<section class="about bg-primary" id="about">
    <div class="container">
        <h2><center> Sobre:</h2><br>
        <div align="center">
            <p> Projeto feito pelos estudante da Unimetrocamp da Turma de Programação Web.<p>
                <br>

                <div style="float: left; width: 50%">
                    <h3> Nomes: </h3>
            <p>Luccas Adriano</p>
            <p>Richard de Souza</p>
            <p>Aline Vitória</p>
            <p>Richard Beletatti</p>
        </div>
        <div style="float: right; width: 50%">
            <h3>RA:</h3>
            <p>1821519695</p>
            <p>1821519804</p>
            <p>1821510491</p>
            <p>1821519022</p>
        </div>
        <div style="clear: both"></div>
    </div>

</section>
