@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>Pagina Backend do site Xiaomi</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Welcome </h2>
            <p>
                Falar sobre
            </p>
        </div>
        <div class="col-md-4">
            <h2>Colocar as informoções aqui</h2>
            <p>Colocar as informoções aqui.</p>
        </div>
        <div class="col-md-4">
            <h2>Colocar as informoções aqui</h2>
            <p>Colocar as informoções aqui.</p>
        </div>
    </div>*@


<!-- Navigation -->


<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <h1 class="mb-5">Uma página que o ajudará a mostrar lindamente seu novo celular!</h1>
                    <a href="#detalhes" class="btn btn-outline btn-xl js-scroll-trigger">Vamos lá!</a>
                </div>
            </div>
            <div class="col-lg-5 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">

                            <div class="button">
                                <!-- Você pode conectar o "botão home" a alguns eventos JavaScript ou apenas removê-lo -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="detalhes bg-primary text-center" id="detalhes">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="section-heading">Descubra o que é todo esse burburinho!</h2>
                <p>Nosso site está disponível detalhes agora para começar!</p>
            </div>
        </div>
    </div>
</section>

<section class="features" id="features">
    <div class="container">
        <div class="section-heading text-center">
            <h2>Recursos Ilimitados, Diversão Ilimitada</h2>
            <p class="text-muted">Confira o que você pode fazer!</p>
            <div class="section section-video section-video-2">
                <video class="video" width="1200" height="720" muted loop="loop" autoplay="autoplay" preload="">
                    <source src="https://i01.appmifile.com/webfile/globalimg/mi-8-lite/index_loop.mp4" frameborder="0" allowfullscreen>
                </video>
                <div class="con">
                    <a href="javascript:;" class="play J_play2 move" data-video="//www.youtube.com/embed/s9tjxH11W9Y"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="img/mi8.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 my-auto">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Mi 8 Lite</h3>
                                    <p class="text-muted">Fotografe em Grande Estilo!</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>Câmeras</h3>
                                    <p class="text-muted"> Uma Incrível Resolução das câmeras traseiras de 12Mpx e 5Mpx</p><br>
                                    <p class="text-muted"> Resolução de vídeo da câmera traseira de 3840px X 2160px</p><br>
                                    <p class="text-muted"> Resolução da câmera frontal principal de 24Mpx</p><br>
                                    <p class="text-muted"> Resolução de vídeo da câmera frontal de 1920px X 1080px</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Pare de esperar.<br>Comece a construir.</h2>
            <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Vamos começar!</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>

@*<section class="contact bg-primary" id="contact">
    <div class="container">
        <h2>
            Entre em Contato Conosco!
            <i class="fas fa-heart"></i>
        </h2>
        <form>
            <p>Nome Completo:</p>
            <input type="text" id="name" name="user_name"><br>

            <br><p>Email:</p>
            <input type="email" id="mail" name="user_email"><br>

            <br><p>Mensagem: </p>
            <textarea id="msg" name="user_message"></textarea><br>

            <br><a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Enviar!</a>
        </form>
    </div>
</section>*@

@*<section class="about bg-primary" id="about">
    <div class="container">
        <h2><center> Sobre:</h2><br>
        <div align="center">
            <p> Projeto feito pelos estudante da Unimetrocamp da Turma de Programação Web.<p>
                <br>

                <div style="float: left; width: 50%">
                    <h3> Nomes: </h3>
            <p>Luccas Adriano</p>
            <p>Richard de Souza</p>
            <p>Aline Vitória</p>
            <p>Richard Beletatti</p>
        </div>
        <div style="float: right; width: 50%">
            <h3>RA:</h3>
            <p>1821519695</p>
            <p>1821519804</p>
            <p>1821510491</p>
            <p>1821519022</p>
        </div>
        <div style="clear: both"></div>
    </div>

</section>*@

@*<footer>
    <div class="container">
        <p>&copy; Smartphone Informations 2019. Todos os direitos reservados.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">Privacy</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Terms</a>
            </li>
            <li class="list-inline-item">
                <a href="#">FAQ</a>
            </li>
        </ul>
    </div>
</footer>*@